.cards {
  display: grid;
    justify-items: center;

    @media (min-width: 769px) {
        margin-block: 0;
    }
}

.card {
  background: hsl(200, 60%, 94%);
  display: grid;
  justify-items: center;
  width: 100vw;

  @media (min-width: 769px) {
    box-shadow: none;
    grid-template-areas:
        'content img'
        'content img'
        'content img';
    grid-template-columns: 50vw 50vw;
    padding-block: 1.825em;
    margin-block: 0;

    &:nth-child(odd) {
        background: none;
        grid-template-areas:
        'img content'
        'img content'
        'img content';
    }
  }

  &:nth-child(odd) {
      background: none;
  }

  .contentWrapper {
    text-align: center;

    @media (min-width: 769px) {
    align-content: center;
    display: flex;
    grid-area: content;
    flex-direction: column;
    justify-content: space-evenly;
    // justify-self: end;
    // background: #00f;
    text-align: center;
    // height: inherit;
    }
  }

  h3 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-block: 1rem;
      // max-width: 10ch;
      text-align: center;

      @media (min-width: 769px) {
          grid-area: title;
      }
  }

  .imgsWrapper {
    // background: #00f;
    // width: fit-content;
    // height: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 100%);
    // overflow-x: hidden;
    width: 100vw;

    div {
      // background: #00f;
      box-shadow: inset 0px 2px 6px 1px hsl(0 0% 0% / 0.5), inset 0px -2px 6px 1px hsl(0 0% 0% / 0.1);
      position: relative;
      z-index: 2;
      width: 100%;
      // height: 12rem;

      @media (min-width: 769px) {
        border-radius: 4px;
      }
    }

    picture {
      // background: #00f;
      // width: 50%;
      // height: 50vh;
      // width:max-content;
      // overflow-x: hidden;
      // width: 864px!important;
      position: relative;
      left: -100%;
      @media (min-width: 769px) {
        // width: 864px;
      }
    }

    img {
      width: 100vw;
      height: auto;
      // position: relative;
      // left: -100%;
      z-index: 1;
      display: block;

      @media (min-width: 769px) {
        border-radius: 4px;
        width: 100%;
      }
    }

    @media (min-width: 769px) {
        grid-area: img;
        // width: 20.8em;
        // width: 80%;
        width: 30em;
        height: fit-content;
        border-radius: 4px;
        // place-items: center;
    }
  }

  .snip {
      hyphens: none;
      margin: 0;
      text-align: center;

      @media (min-width: 769px) {
          width: 20.8rem;
      }
  }

  button {
      background: linear-gradient(hsl(201, 84%, 83%), hsl(195, 88%, 88%));
      border: hsl(200, 100%, 88%);
      border-radius: 2px;
      box-shadow: 
          0px 1px 1px hsla(0, 0%, 0%, 0.5), 
          0px -1px 1px hsla(0, 0%, 0%, 0.1), 
          -1px 0px 1px hsla(0, 0%, 0%, 0.1), 
          1px 0px 1px hsla(0, 0%, 0%, 0.1); 
      font-size: 1rem;
      // margin-block-start: 0.8rem;
      // margin-block-end: 2rem;
      margin-block: 2rem;
      padding: 0.5rem 3rem;

      @media (min-width: 769px) {
          grid-area: button;
          margin-block: 0.8rem;
      }
  }
}

$duration: 48s;

.slideImg1, .slideImg2, .slideImg3, .slideImg4, .slideImg5, .slideImg6 {
  animation-duration: $duration;
  animation-iteration-count: infinite;
  position: relative;
  opacity: 0;
}

.slideImg1 {
  animation-name: slide1;
  opacity: 1;
}

.slideImg2 {
  animation-name: slide2;
  left: -100%;
}

.slideImg3 {
  animation-name: slide3;
  left: -200%;
}

.slideImg4 {
  animation-name: slide4;
  left: -300%;
}

.slideImg5 {
  animation-name: slide5;
  left: -400%;
}
.slideImg6 {
  animation-name: slide6;
  left: -500%;
}

@keyframes slide1 {
  0% {
    opacity: 1;
  }
  16.66% {
    opacity: 0;
  }
  83.33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide2 {
  0% {
    opacity: 0;
  }
  16.66% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
}

@keyframes slide3 {
  16.66% {
    opacity: 0;
  }
  33.33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes slide4 {
  33.33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.67% {
    opacity: 0;
  }
}
@keyframes slide5 {
  50% {
    opacity: 0;
  }
  66.67% {
    opacity: 1;
  }
  83.33% {
    opacity: 0;
  }
}
@keyframes slide6 {
  66.67% {
    opacity: 0;
  }
  83.33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}