.contact {
  padding-block: 2em;
  padding-inline: 1em;
  margin-inline: auto;

  form {
    background: hsl(200, 60%, 94%);
    border-radius: 4px;
    box-shadow: 0px 1px 4px 1px hsl(0 0% 0% / 0.1), 0px -1px 4px 0px hsl(0 0% 0% / 0.1);
    margin-inline: auto;
    padding: 1em;
    width: calc(100vw - 2em);

    @media (min-width: 769px) {
      max-width: 25em;
    }

    h1 {
      text-align: center;
    }

    label, input, button, textarea {
      display: block;
      font-size: 1em;
      width: 100%;
    }

    label, button {
      margin-block-start: 1em;
    }

    input, button, textarea {
      border: none;
      border-radius: 4px;
      margin-block-start: 0.25em;
      padding: 0.5em 1em;
    }

    button {
      background: linear-gradient(#afdff8, #c5eefb);
      box-shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
      margin-block-start: 1.5em;
    }
  }
}