.footer {
  background: hsl(200 25% 15%);
  color: hsl(0 0% 100%);
  display: grid;
  font-size: 0.8rem;
  grid-template-areas: 
      'address address'
      'social social'
      'products page'
      'copy copy';
  line-height: 2;
  padding: 2rem 0.5em;
  row-gap: 2rem;

  @media (min-width: 769px) {
    grid-template-areas: 
      '. address .'
      'products social page'
      '. copy .';
    padding-inline: 4em;
    padding-block: 2rem;
    row-gap: 1em;
  }

  p {
      line-height: inherit;
      margin: 0;
  }

  a {
      // color: hsl(200 100% 50%);
      color: inherit;
      text-decoration: none;
  }

  address {
      font-style: normal;
      grid-area: address;
      text-align: center;
      justify-self: center;
  }

  .footerSocialIcons {
    // background: #00f;
    display: flex;
    grid-area: social;
    justify-content: center;
    // justify-self: center;
    width: 100%;

    @media (min-width: 769px) {
      align-self: center;
    }

    img {
      // width: 3em;
      height: 3em;
      width: auto;
      margin-inline: 1.5em;
    }
  }

  .footerProductLinks {
      display: grid;
      grid-area: products;
  }

  .footerPageLinks {
      justify-items: end;
      display: grid;
      grid-area: page;
  }

  .copyright {
      grid-area: copy;
      text-align: center;
      justify-self: center;

      @media (min-width: 769px) {
        margin-top: 1em;
      }
  }
}