.footer {
  background: hsl(200 25% 15%);
  color: hsl(0 0% 100%);
  display: grid;
  font-size: 0.8rem;
  grid-template-areas: 
      'address address'
      'social social'
      'products page'
      'copy copy';
  line-height: 2;
  padding: 2rem 0.5em;
  row-gap: 2rem;

  p {
      line-height: inherit;
      margin: 0;
  }

  a {
      // color: hsl(200 100% 50%);
      color: inherit;
      text-decoration: none;
  }

  address {
      font-style: normal;
      grid-area: address;
      text-align: center;
  }

  .footerSocialIcons {
    // background: #00f;
    display: flex;
    grid-area: social;
    justify-content: space-evenly;
    // justify-self: center;
    width: 100%;

    img {
      width: 3em;
      height: auto;
    }
  }

  .footerProductLinks {
      display: grid;
      grid-area: products;
  }

  .footerPageLinks {
      justify-items: end;
      display: grid;
      grid-area: page;
  }

  .copyright {
      grid-area: copy;
      text-align: center;
  }
}