html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 6.25vw;
  // overflow-x: hidden;
  // width: 100vw;

  @media (min-width: 769px) {
    // font-size: 2.0833333vw;
    font-size: 1.5vw;
    // font-size: 1.041667vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p a, li a {
  color: hsl(230 100% 48%);
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Playfair Display', Baskerville, Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 1.7rem;
  font-weight: 400;

  @media (min-width: 769px) {
      font-size: 2.4rem;
  }
}

h2 {
  font-weight: 500;
}

p {
  line-height: 1.5;
  font-weight: 300;
  // hyphens: auto;

  a {
    // word-wrap:unset;
    // width: fit-content;
  }
  
  @media(min-width: 769px) {
      width: 21.7rem;
  }
}

ul {
  font-weight: 300;
  width: 87.5vw;
  margin-inline: auto;

  li {
    line-height: 1.5;
  }

  @media (min-width: 769px) {
    // width: auto;
    width: 21.7rem;
  }
  // margin-inline: auto;
}

button {
  font-family: 'Playfair Display';
  font-size: 0.8rem;
}
