.heroImg, .heroImgPc {
  width: 100vw;
  height: auto;
}

.heroImg {
  @media (min-width: 769px) {
    display: none;
  }
}

.heroImgPc {
  display: none;

  @media (min-width: 769px) {
    display: block;
  }
}