.heroImg, .heroImgPc {
  width: 100vw;
  height: auto;
}

.heroImgWrapper {
  display: grid;
  grid-template-columns: repeat(4, 100vw);

  @media (min-width: 769px) {
    display: none;
  }
}

.heroImg {
  position: relative;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  opacity: 0;

  &:nth-child(1) {
    animation-name: heroImg1;
    opacity: 1;
  }
  
  &:nth-child(2) {
    left: -100%;
    animation-name: heroImg2;
  }

  &:nth-child(3) {
    left: -200%;
    animation-name: heroImg3;
  }

  &:nth-child(4) {
    left: -300%;
    animation-name: heroImg4;
  }


  @media (min-width: 769px) {
    // display: none!important;
  }
}

@keyframes heroImg1 {
  0% {
    opacity: 1;
  }
  // 25% {
  //   opacity: 0;
  // }
  // 50% {
  //   opacity: 0;
  // }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroImg2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  // 100% {
  //   opacity: 0;
  // }
}

@keyframes heroImg3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heroImg4 {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heroImgPc {
  display: none;

  @media (min-width: 769px) {
    display: block;
  }
}

.main {
  padding-block: 2rem;

  h1 {
      margin-block-end: 2rem;
      margin-inline: auto;
      max-width: 15ch;
      text-align: center;
  }

  h1, p {
      @media (max-width: 768px) {
          width: 14rem;
      }
  }

  h2 {
      background: hsl(200 25% 15%);
      font-size: 1.6em;
      color: hsl(0 0% 100%);
      padding-block: 0.5em;
      text-align: center;
      width: 100vw;
  }

  .h2-margin-top {
      margin-block-start: 3em;
  }

  p {
      margin-inline: auto;
  }

  @media (min-width: 769px) {
      padding-inline: 0;
  }
}

.cards {
  @media (min-width: 769px) {
    margin-block-start: 4em;
  }
}