.header {
  display: grid;
  padding-block: 1.7335rem;
  place-content: center;

  @media (min-width: 769px) {
    padding-block-start: 0px;
    // padding-block: 0.86675rem;
    padding-block-start: 0.5778333333rem;
    padding-block-end: 1.155667rem;
  }
}

.headerImage {
  // width: 46vw;
  // filter: saturate(75%);
  // height: 5.8rem;
  height: 5.8rem;
  width: auto;

  @media (min-width: 769px) {
      // width: 10vw;
      // height: 4.28825rem;
      // height: 3rem;
      // height: 3.5rem;
      height: 4rem;
      height: 5rem;
  }
}