.navWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  background: hsl(0 0% 100%);
  display: grid;
  grid-template-areas: 
      'finance hamburger'
      '. links';
  padding: 14px 1rem;
  width: 100vw;
  // z-index: 10;

  @media (min-width: 769px) {
    align-items: center;
    font-size: 0.75rem;
    grid-template-areas: 'finance links empty';
    grid-template-columns: 1fr auto 1fr;
    padding: 0.4625rem 1.6rem;
  }
}

.financeButton {
  background: linear-gradient(hsl(201, 84%, 83%), hsl(195, 88%, 88%));
  border: 1px solid hsl(200, 100%, 88%);
  border-radius: 4px;
  box-shadow: 
    0px 1px 2px hsla(0, 0%, 0%, .5), 
    0px -1px 2px hsla(0, 0%, 0%, 0.1),
    -1px 0px 2px hsla(0, 0%, 0%, 0.1),
    1px 0px 2px hsla(0, 0%, 0%, 0.1);
  font-size: 0.8em;
  grid-area: finance;
  height: fit-content;
  padding: 0.4em 1em;
  width: fit-content;
}

.hamburgerButton {
  align-self: center;
  background: none;
  border: none;
  grid-area: hamburger;
  justify-self: end;
  margin-block-start: 0.2rem;
  width: fit-content;

  @media (min-width: 769px) {
    display: none;
  }
}

.navLinksMob {
  background: hsl(0 0% 100%);
  box-shadow: 0px 2px 1px hsl(0 0% 0% / 10%);
  // visibility: hidden;
  display: grid;
  grid-area: links;
  padding-block-end: 0.25rem;
  padding-inline-end: 1.2rem;
  position: fixed;
  text-align: right;
  width: 100vw;
  z-index: 10;

  a, button {
    color: #00f;
  }
  
  a {
    line-height: 1.5;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    text-align: right;
  }

  .productsMob {
    display: grid;
    font-size: 0.75rem;
    height: 0;
    visibility: hidden;

    a::after {
      content: ' -'
    }
  }

  @media (min-width: 769px) {
    display: none;
  }
}

.navLinks {
  align-items: center;
  display: none;
  grid-area: links;
  text-align: center;
  padding: 0;
  text-transform: uppercase;

  a {
    color: hsl(0 0% 0%);
    text-decoration: none;
    margin: 0 0.5em;
  }

  button {
    background: none;
    border: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    padding: 0;
    text-transform: uppercase;
  }

  .products {
    visibility: hidden;
    height: 0;
  }

  @media (min-width: 769px) {
    display: block;
  }
}

.emptyNavDiv {
  display: none;
  grid-area: empty;

  @media (min-width: 769px) {
    display: block;
  }
}