.navWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  // align-content: center;
  align-items: center;
  background: hsl(0 0% 100%);
  display: grid;
  grid-template-areas: 
      'finance hamburger'
      '. links';
  padding: 0.7rem 1rem;
  // padding
  width: 100vw;
  // z-index: 10;

  @media (min-width: 769px) {
    display: grid;
    align-items: center;
    font-size: 0.625rem;
    grid-template-areas: 'finance links empty';
    grid-template-columns: 4.5rem 1fr 4.5rem;
    justify-content: center;
    justify-items: center;
    padding: 0.7em 2em;
    // text-align: center;
    // grid-template-columns: repeat(3, 1fr);
    // padding: 0.4625rem 1.6rem;
  }
}

// .financeButton {
//   // text-align: left;
//   background: linear-gradient(hsl(201, 84%, 83%), hsl(195, 88%, 88%));
//   border: 1px solid hsl(200, 100%, 88%);
//   border-radius: 4px;
//   box-shadow: 
//     0px 1px 2px hsla(0, 0%, 0%, .5), 
//     0px -1px 2px hsla(0, 0%, 0%, 0.1),
//     -1px 0px 2px hsla(0, 0%, 0%, 0.1),
//     1px 0px 2px hsla(0, 0%, 0%, 0.1);
//   font-size: 0.8em;
//   grid-area: finance;
//   height: fit-content;
//   padding: 0.4em 1em;
//   width: fit-content;
// }

.finance {
  // align-self: center;
  background: linear-gradient(hsl(201 84% 83%), hsl(195 88% 88%));
  border: 1px solid hsl(200 100% 88%);
  border-radius: 4px;
  box-shadow: 
    0px 1px 2px hsla(0, 0%, 0%, .5), 
    0px -1px 2px hsla(0, 0%, 0%, 0.1),
    -1px 0px 2px hsla(0, 0%, 0%, 0.1),
    1px 0px 2px hsla(0, 0%, 0%, 0.1);
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  grid-area: finance;
  padding: 0.4em 1em;
  // width: fit-content;
  // height: fit-content;

  @media (min-width: 769px) {
    font-size: 32px;
    padding: 0.2em 1em;
  }
}

.hamburgerButton {
  align-self: center;
  background: none;
  border: none;
  grid-area: hamburger;
  justify-self: end;
  margin-block-start: 0.2rem;
  // width: fit-content;
  // width: 1.2rem;
  // width: 1.8rem;
  // height: 1.2rem;
  padding: 0;
  width: fit-content;
  // max-width: 48px;

  svg {
    width: 1.8rem;
    height: 1.2rem;
    // height: inherit;
  }

  @media (min-width: 769px) {
    display: none;
  }
}

.navLinksMob {
  background: hsl(0 0% 100%);
  box-shadow: 0px 2px 1px hsl(0 0% 0% / 10%);
  // visibility: hidden;
  display: grid;
  grid-area: links;
  justify-content: flex-end;
  padding-block-end: 0.25rem;
  // padding-inline-end: 1.2rem;
  // padding-right: 1.2rem;
  padding-inline-end: 1rem;
  position: fixed;
  text-align: right;
  width: 100vw;
  z-index: 10;

  a, button {
    color: #00f;
  }
  
  a {
    line-height: 1.5;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    text-align: right;
  }

  .productsMob {
    display: grid;
    font-size: 0.75rem;
    height: 0;
    visibility: hidden;

    a::after {
      content: ' -'
    }
  }

  @media (min-width: 769px) {
    display: none;
  }
}

.navLinks {
  display: none;
  grid-area: links;
  padding: 0;
  text-transform: uppercase;
  // justify-items: center;

  a {
    color: hsl(0 0% 0%);
    color: hsl(200 25% 15%);
    text-decoration: none;
    padding-inline: 0.45rem;
    // text-align: center;
    // justify-self: center;
  }

  button {
    background: none;
    border: none;
    color: hsl(200 25% 15%);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    // padding: 0 0.5em;
    margin: 0;
    text-transform: uppercase;
  }

  .products {
    visibility: hidden;
    height: 0;
  }

  @media (min-width: 769px) {
    display: grid;
    // grid-template-columns: repeat(5, 4rem);
    // grid-template-columns: repeat(5, min-content);
    grid-template-columns: 100%;
    // column-gap: 0.9em;
    // grid-template-columns: repeat(5, min-content);
    justify-content: center;
    justify-items: center;
    // padding-right: 0.9rem;
    text-align: center;
    align-items: center;

    div {
      display: block;
      width: 100%;
      // display: grid;
      // justify-items: center;
      // justify-self: center;
      // a {
      //   // text-align: center;
      //   // justify-self: center;
      //   // padding-right: 0.9rem;
      // }
    }
  }
}

.socialLinks {
  display: none;
  grid-area: empty;

  @media (min-width: 769px) {
    justify-content: end;
    display: grid;
    grid-template-columns: repeat(3, 0.9rem);
    column-gap: 0.9rem;
  }

  img {
    height: auto;
    width: 0.9rem;
  }
}