.product {
  h1 {
    text-align: center;
    // width: 87.5vw;
    max-width: 87.5vw;
    margin-inline: auto;
  }

  .content {
    // width: 87.5%;
    margin-inline: auto;
    grid-area: content;

    h2 {
      width: 87.5vw;

      @media (min-width: 769px) {
        width: 21.7rem;
      }
    }

    p {
      margin-block-start: 0;
      margin-inline: auto;
      width: 87.5vw; 
      @media (min-width: 769px) {
        width: 50ch;
      }
    }
  }
}

.article {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    'slide'
    'content';

  @media (min-width: 769px) {
    // background: #00f;
    // grid-template-columns: 50% 50%;
    // grid-template-areas: 'content slide';
    width: 72.91667vw;
    margin-inline: auto;
    margin-block: 1rem;
    padding: 1rem;
    column-gap: 1rem;
  }
}

.slideWrapper {
  height: 75vw;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  grid-area: slide;
  margin-block: 1rem;
  // scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100vw;
  margin-inline: auto;

  @media (min-width: 769px) {
    width: 34.0104667vw;
    height: (34.0104667vw * 0.75);
  }
  img {
    width: 100vw;
    height: auto;
    scroll-snap-align: start;
    // scroll-snap-alig

    @media (min-width: 769px) {
      width: 34.0104667vw;
    }
  }

  .nextButton, .prevButton {
    z-index: 99;
  }

  .nextButton {
    width: 48px;
    height: 48px;
    position: sticky;
    bottom: calc(50% - 24px);
    // left: calc(100vw - 48px - 48px);
    left: 0;
    // right: 0;
    left: calc(100vw - 48px);
    background: none;
    border: none;

    @media (min-width: 769px) {
      // left: calc(34vw);
      // left: 34vw;
      // right: 0;
      left: calc(100% - 48px);
    }
  }

  .prevButton {
    width: 48px;
    height: 48px;
    position: sticky;
    // bottom: calc(37.5vw + 12.5px);
    bottom: calc(50% - 24px);
    left: 0;
    background: none;
    border: none;
  }
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  // overflow: scroll;
  scroll-snap-type: x mandatory;
  // box-shadow: inset 0px 2px 6px 1px #000;
}

.counter {
  display: grid;
  position: relative;
  position: sticky;
  font-size: 16px;
  background: hsl(0 0% 0% / 0.35);
  color: #fff;
  height: 2em;
  text-align: center;
  // bottom: 30vw;
  // bottom: 5em;
  bottom: 0;
  align-content: center;
  // width: fit-content;
  // padding-inline: 1em;
  width: 3em;
  left: calc(100vw - 3em);

  @media (min-width: 769px) {
    left: calc(100% - 3em);
  }
}