.product {
  h1 {
    text-align: center;
  }

  .content {
    width: 87.5%;
    margin-inline: auto;
  }
}

.slideWrapper {
  height: 75vw;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  // scroll-behavior: smooth;
  // scroll-snap-type: x mandatory;
  img {
    width: 100vw;
    height: auto;
    scroll-snap-align: start;
  }

  .nextButton {
    width: 48px;
    height: 48px;
    position: sticky;
    bottom: calc(50% - 24px);
    // left: calc(100vw - 48px - 48px);
    left: 0;
    // right: 0;
    left: calc(100vw - 48px);
    background: none;
    border: none;
  }

  .prevButton {
    width: 48px;
    height: 48px;
    position: sticky;
    // bottom: calc(37.5vw + 12.5px);
    bottom: calc(50% - 24px);
    left: 0;
    background: none;
    border: none;
  }
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-snap-type: x mandatory;
}

.counter {
  display: grid;
  position: relative;
  position: sticky;
  font-size: 16px;
  background: hsl(0 0% 0% / 0.35);
  color: #fff;
  height: 2em;
  text-align: center;
  // bottom: 30vw;
  // bottom: 5em;
  bottom: 0;
  align-content: center;
  // width: fit-content;
  // padding-inline: 1em;
  width: 3em;
  left: calc(100vw - 3em);
}